name: taos-tools

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

env:
  BUILD_TYPE: Debug

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout taos-tools
        uses: actions/checkout@v2
        with:
          path: 'taos-tools'

      - name: Checkout tdengine
        uses: actions/checkout@v2
        with:
          repository: 'taosdata/TDengine'
          path: 'TDengine'
          ref: 'develop'

      - name: Install tdengine
        run: cd TDengine && mkdir debug && cd debug && cmake .. -DBUILD_JDBC=false -DBUILD_TOOLS=false && make && sudo make install

      - name: Start tdengine
        run: nohup sudo taosd &

      - name: Install dependencies
        run: |
          sudo apt install libjansson-dev libsnappy-dev liblzma-dev libz-dev pkg-config -y
          cd taos-tools && git submodule update --init --recursive

      - name: Configure CMake
        run: cd taos-tools && cmake -B ./build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

      - name: Build
        run: cd taos-tools && cmake --build ./build

      - name: Test
        run: cd taos-tools/build && ctest --verbose