name: CI

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

env:
  BUILD_TYPE: Debug
  PR_NUMBER: ${{ github.event.number }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout taos-tools
        uses: actions/checkout@v2
        with:
          ref: develop
          submodules: recursive
          path: 'taos-tools'

      - name: Step that prints name of pull request's base branch
        run: |
          echo "Pull request's base branch is: ${BASE_BRANCH}"
          echo "Pull request's branch is: ${GITHUB_REF##*/}"
          echo "Pull request's head ref is: ${GITHUB_HEAD_REF}"
        env:
          BASE_BRANCH: ${{ github.base_ref }}
        if: github.event_name == 'pull_request'

      - name: Checkout tdengine
        uses: actions/checkout@v2
        with:
          submodules: recursive
          repository: 'taosdata/TDengine'
          path: 'TDengine'
          ref: 'develop'

      - name: Change time zone
        run: |
          sudo timedatectl set-timezone Asia/Shanghai
          sudo date

      - name: Checkout TDengine with same branch of taos-tools
        run: |
          cd TDengine
          git pull
          git branch -a | grep -w ${{ github.head_ref }} && git checkout ${{ github.head_ref }} || echo "${{ github.head_ref }} not found in TDengine"
          git submodule update --init --recursive
        if: github.event_name == 'pull_request'

      - name: Checkout TDengine's taos-tools to PR number
        if: github.event_name == 'pull_request'
        run: |
          cd TDengine/src/kit/taos-tools
          git fetch origin +refs/pull/${{env.PR_NUMBER}}/merge
          git checkout -qf FETCH_HEAD

      - name: Install tdengine
        run: |
          sudo apt install libjansson-dev libsnappy-dev liblzma-dev libz-dev pkg-config -y
          cd TDengine && mkdir debug && cd debug && cmake .. -DBUILD_JDBC=false -DBUILD_TOOLS=true && make && sudo make install
          

      - name: Start tdengine
        run: nohup sudo taosd &

      - name: Checkout PR commit if PR
        run: |
          cd taos-tools
          git fetch origin +refs/pull/${{env.PR_NUMBER}}/merge
          git checkout -qf FETCH_HEAD
        if: github.event_name == 'pull_request'
        
      - name: Configure CMake
        run: |
          cd taos-tools
          git fetch origin +refs/pull/${{env.PR_NUMBER}}/merge
          git checkout -qf FETCH_HEAD
          cmake -B ./build -DBUILD_TYPE=${{env.BUILD_TYPE}}

      - name: Build
        run: cd taos-tools && cmake --build ./build

      - name: Unit Test
        run: ls && pwd && cd taos-tools/build && git branch && ctest --verbose

      - name: Func Test
        run: |
          cd TDengine/tests/pytest
          pip3 install taospy numpy fabric2 psutil pandas faker
          sudo pkill -9 taosadapter || :
          sudo pkill -9 taosd || :

          python3 ./test.py -f tools/taosdumpTest.py
          python3 ./test.py -f tools/taosdumpTest2.py
          python3 ./test.py -f tools/taosdumpTest3.py
          python3 ./test.py -f tools/taosdumpTestNanoSupport.py


          python3 test.py -f tools/taosdemoTest.py
          python3 test.py -f tools/taosdemoTestWithoutMetric.py
          python3 test.py -f tools/taosdemoTestWithJson.py
          python3 test.py -f tools/taosdemoTestLimitOffset.py
          python3 test.py -f tools/taosdemoTestTblAlt.py
          python3 test.py -f tools/taosdemoTestSampleData.py
    
          python3 test.py -f tools/taosdemoTestQuery.py
          python3 test.py -f tools/taosdemoTestdatatype.py
          python3 test.py -f tools/taosdemoAllTest/NanoTestCase/taosdemoTestSupportNanoInsert.py
          python3 test.py -f tools/taosdemoAllTest/NanoTestCase/taosdemoTestSupportNanoQuery.py
          python3 test.py -f tools/taosdemoAllTest/NanoTestCase/taosdemoTestSupportNanosubscribe.py
          python3 test.py -f tools/taosdemoAllTest/NanoTestCase/taosdemoTestInsertTime_step.py
          python3 test.py -f tools/taosdemoAllTest/taosdemoTestInsertWithJson.py
          python3 test.py -f tools/taosdemoAllTest/taosdemoTestQueryWithJson.py
          python3 test.py -f tools/taosdemoAllTest/taosdemoTestInsertAllType.py
          python3 test.py -f tools/taosdemoAllTest/TD-4985/query-limit-offset.py
          python3 test.py -f tools/taosdemoAllTest/TD-5213/insert4096columns_not_use_taosdemo.py
          python3 test.py -f tools/taosdemoAllTest/TD-5213/insertSigcolumnsNum4096.py
          python3 test.py -f tools/taosdemoAllTest/taosdemoTestInsertWithJsonStmt.py
          python3 test.py -f tools/taosdemoAllTest/taosdemoTestInsertWithJsonSml.py
          python3 test.py -f tools/taosdemoAllTest/taosdemoTestInsertShell.py

      - name: System Test
        run: |
          cd TDengine/tests/system-test
          if find 5-taos-tools/taosdump -name "*.py"|grep -q .;
          then
            for i in `find 5-taos-tools/taosdump -name "*.py"`; do python3 ./test.py -f $i > /dev/null 2>&1 && echo -e "\033[32m success! \033[0m"|| echo -e "\033[31m failed! \033[0m" ;done
          fi

          if find 5-taos-tools/taosbenchmark -name "*.py"|grep -q .;
          then
            for i in `find 5-taos-tools/taosbenchmark -name "*.py"`; do python3 ./test.py -f $i > /dev/null 2>&1 && echo -e "\033[32m success! \033[0m"|| echo -e "\033[31m failed! \033[0m" ;done
          fi

      - name: Develop Test
        run: |
          cd TDengine/tests/develop-test
          if find 5-taos-tools/taosdump -name "*.py"|grep -q .;
          then
            for i in `find 5-taos-tools/taosdump -name "*.py"`; do python3 ./test.py -f $i > /dev/null 2>&1 && echo -e "\033[32m success! \033[0m"|| echo -e "\033[31m failed! \033[0m" ;done
          fi

          if find 5-taos-tools/taosbenchmark -name "*.py"|grep -q .;
          then
            for i in `find 5-taos-tools/taosbenchmark -name "*.py"`; do python3 ./test.py -f $i > /dev/null 2>&1 && echo -e "\033[32m success! \033[0m"|| echo -e "\033[31m failed! \033[0m" ;done
          fi
