name: Coveralls
on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

env:
  BUILD_TYPE: Debug
  PR_NUMBER: ${{ github.event.number }}

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Run test for Coveralls report
        uses: actions/checkout@v2
        with:
          submodules: recursive
          path: 'taos-tools'
          ref: 'develop'

      - name: Step that prints name of pull request's base branch
        run: |
          echo "Pull request's base branch is: ${BASE_BRANCH}"
          echo "Pull request's branch is: ${GITHUB_REF##*/}"
          echo "Pull request's head ref is: ${GITHUB_HEAD_REF}"
        env:
          BASE_BRANCH: ${{ github.base_ref }}
        if: github.event_name == 'pull_request'

      - name: Checkout tdengine
        uses: actions/checkout@v2
        with:
          submodules: recursive
          repository: 'taosdata/TDengine'
          path: 'TDengine'
          ref: 'develop'

      - name: Change time zone
        run: |
          sudo timedatectl set-timezone Asia/Shanghai
          sudo date

      - name: Checkout TDengine with same branch of taos-tools
        run: |
          cd TDengine
          git pull
          git branch -a | grep -w ${{ github.head_ref }} && git checkout ${{ github.head_ref }} || echo "${{ github.head_ref }} not found in TDengine"
          git submodule update --init --recursive
        if: github.event_name == 'pull_request'

      - name: Install packages
        run: sudo apt-get install lzma-dev liblzma-dev libjansson-dev libz-dev libsnappy-dev pkg-config lcov -y > /dev/null

      - name: Checkout TDengine's taos-tools to PR number
        if: github.event_name == 'pull_request'
        run: |
          cd TDengine/src/kit/taos-tools
          git fetch origin +refs/pull/${{env.PR_NUMBER}}/merge
          git checkout -qf FETCH_HEAD

      - name: Install tdengine
        run: |
          cd TDengine
          mkdir debug
          cd debug
          cmake .. -DBUILD_JDBC=false -DBUILD_HTTP=true -DBUILD_TOOLS=true -DCOVER=true -DBUILD_TYPE=Debug > /dev/null 2>&1
          make > /dev/null 2>&1
          sudo make install > /dev/null
          ./build/bin/taosBenchmark --help
          ./build/bin/taosdump --help
          ./build/bin/taosdump --version
          ./build/bin/taosdump --port 10000 || :
          ./build/bin/taosdump -D || :
          ./build/bin/taosdump --databases || :

          nohup sudo taosd &
          sleep 10

          # test codec
          ./build/bin/taosBenchmark -t 2 -n 10 -y > /dev/null
          ./build/bin/taosdump -D test -d null -gg > /dev/null
          rm -f *.sql *.avro*
          ./build/bin/taosdump -D test -d snappy -gg > /dev/null
          rm -f *.sql *.avro*
          ./build/bin/taosdump -D test -d deflate -gg > /dev/null
          rm -f *.sql *.avro*
          ./build/bin/taosdump -D test -d lzma -gg > /dev/null
          rm -f *.sql *.avro*
          ./build/bin/taosdump -D test -d lzma -gg > /dev/null
          rm -f *.sql *.avro*
          ./build/bin/taosdump -D test -d unknown -gg > /dev/null
          rm -f *.sql *.avro*

          # test human time
          ./build/bin/taosdump -D test -S '2017-07-14 10:40:00.000' -E '2017-07-14 10:40:00.004' -g > /dev/null
          rm -f *.sql *.avro*

          # test normal table
          ./build/bin/taosBenchmark -N -t 2 -n 10 -y > /dev/null
          ./build/bin/taosdump -D test -gg > /dev/null
          rm -f *.sql *.avro*

          cd src/kit/taos-tools/
          ctest --verbose > /dev/null
          cd ../../../../tests/pytest
          pip3 install taospy numpy fabric2 psutil pandas faker > /dev/null
          sudo pkill -9 taosadapter || :
          sudo pkill -9 taosd || :
          python3 ./test.py -f tools/taosdumpTest.py > /dev/null
          python3 ./test.py -f tools/taosdumpTest2.py > /dev/null
          python3 ./test.py -f tools/taosdumpTest3.py > /dev/null
          python3 ./test.py -f tools/taosdumpTestNanoSupport.py > /dev/null

          python3 test.py -f tools/taosdemoTest.py > /dev/null
          python3 test.py -f tools/taosdemoTestInterlace.py > /dev/null
          python3 test.py -f tools/taosdemoTestWithoutMetric.py > /dev/null
          python3 test.py -f tools/taosdemoTestWithJson.py > /dev/null
          python3 test.py -f tools/taosdemoTestLimitOffset.py > /dev/null
          python3 test.py -f tools/taosdemoTestTblAlt.py > /dev/null
          python3 test.py -f tools/taosdemoTestSampleData.py > /dev/null

          python3 test.py -f tools/taosdemoTestQuery.py > /dev/null
          python3 ./test.py -f tools/taosdemoTestdatatype.py > /dev/null
          python3 test.py -f tools/taosdemoAllTest/NanoTestCase/taosdemoTestSupportNanoInsert.py > /dev/null
          python3 test.py -f tools/taosdemoAllTest/NanoTestCase/taosdemoTestSupportNanoQuery.py > /dev/null
          python3 test.py -f tools/taosdemoAllTest/NanoTestCase/taosdemoTestSupportNanosubscribe.py > /dev/null
          python3 test.py -f tools/taosdemoAllTest/NanoTestCase/taosdemoTestInsertTime_step.py > /dev/null

          python3 test.py -f tools/taosdemoAllTest/taosdemoTestInsertWithJson.py > /dev/null
          python3 test.py -f tools/taosdemoAllTest/taosdemoTestQueryWithJson.py > /dev/null
          python3 test.py -f tools/taosdemoAllTest/taosdemoTestInsertAllType.py > /dev/null
          python3 test.py -f tools/taosdemoAllTest/TD-4985/query-limit-offset.py > /dev/null
          python3 test.py -f tools/taosdemoAllTest/TD-5213/insert4096columns_not_use_taosdemo.py > /dev/null
          python3 test.py -f tools/taosdemoAllTest/TD-5213/insertSigcolumnsNum4096.py > /dev/null
          python3 test.py -f tools/taosdemoAllTest/taosdemoTestInsertWithJsonStmt.py  > /dev/null 
          python3 test.py -f tools/taosdemoAllTest/taosdemoTestInsertWithJsonSml.py > /dev/null
          python3 test.py -f tools/taosdemoAllTest/taosdemoTestInsertShell.py > /dev/null

          cd ../develop-test
          if find 5-taos-tools/taosdump -name "*.py"|grep -q .;
          then
            for i in `find 5-taos-tools/taosdump -name "*.py"`; do python3 ./test.py -f $i > /dev/null 2>&1 && echo -e "\033[32m $i success! \033[0m"|| echo -e "\033[31m $i failed! \033[0m" ;done
          fi
          cd ../system-test
          if find 5-taos-tools/taosdump -name "*.py"|grep -q .;
          then
            for i in `find 5-taos-tools/taosdump -name "*.py"`; do python3 ./test.py -f $i > /dev/null 2>&1 && echo -e "\033[32m $i success! \033[0m"|| echo -e "\033[31m $i failed! \033[0m" ;done
          fi

          cd ../develop-test
          if find 5-taos-tools/taosbenchmark -name "*.py"|grep -q .;
          then
            for i in `find 5-taos-tools/taosbenchmark -name "*.py"`; do python3 ./test.py -f $i > /dev/null 2>&1 && echo -e "\033[32m $i success! \033[0m"|| echo -e "\033[31m $i failed! \033[0m" ;done
          fi
          cd ../system-test
          if find 5-taos-tools/taosbenchmark -name "*.py"|grep -q .;
          then
            for i in `find 5-taos-tools/taosbenchmark -name "*.py"`; do python3 ./test.py -f $i > /dev/null 2>&1 && echo -e "\033[32m $i success! \033[0m"|| echo -e "\033[31m $i failed! \033[0m" ;done
          fi

      - name: Generate report
        run: |
          topdir=`pwd`
          cd TDengine/debug/src/kit/taos-tools
          gcov -abcfu ${topdir}/TDengine/src/kit/taos-tools/src/taosdump.c -o src/CMakeFiles/taosdump.dir/taosdump.c.gcno
          gcov -abcfu ${topdir}/TDengine/src/kit/taos-tools/src/benchMain.c -o src/CMakeFiles/taosBenchmark.dir/benchMain.c.gcno
          gcov -abcfu ${topdir}/TDengine/src/kit/taos-tools/src/benchCommandOpt.c -o src/CMakeFiles/taosbench.dir/benchCommandOpt.c.gcno
          gcov -abcfu ${topdir}/TDengine/src/kit/taos-tools/src/benchData.c -o src/CMakeFiles/taosbench.dir/benchData.c.gcno
          gcov -abcfu ${topdir}/TDengine/src/kit/taos-tools/src/benchInsert.c -o src/CMakeFiles/taosbench.dir/benchInsert.c.gcno
          gcov -abcfu ${topdir}/TDengine/src/kit/taos-tools/src/benchJsonOpt.c -o src/CMakeFiles/taosbench.dir/benchJsonOpt.c.gcno
          gcov -abcfu ${topdir}/TDengine/src/kit/taos-tools/src/benchOutput.c -o src/CMakeFiles/taosbench.dir/benchOutput.c.gcno
          gcov -abcfu ${topdir}/TDengine/src/kit/taos-tools/src/benchQuery.c -o src/CMakeFiles/taosbench.dir/benchQuery.c.gcno
          gcov -abcfu ${topdir}/TDengine/src/kit/taos-tools/src/benchSubscribe.c -o src/CMakeFiles/taosbench.dir/benchSubscribe.c.gcno
          gcov -abcfu ${topdir}/TDengine/src/kit/taos-tools/src/benchUtil.c -o src/CMakeFiles/taosbench.dir/benchUtil.c.gcno
          mkdir ${topdir}/coverage || :
          lcov -c -d . -o ${topdir}/coverage/lcov-with-deps.info
          lcov -r ${topdir}/coverage/lcov-with-deps.info "*/deps/*" -o ${topdir}/coverage/lcov.info

      - name: Publish to coveralls.io
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

