name: Coveralls
on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

env:
  TOOLS_BUILD_TYPE: Debug
  PR_NUMBER: ${{ github.event.number }}

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Run test for Coveralls report
        uses: actions/checkout@v2
        with:
          submodules: recursive
          path: 'taos-tools'
          ref: 'develop'

      - name: Step that prints name of pull request's base branch
        run: |
          echo "Pull request's base branch is: ${BASE_BRANCH}"
          echo "Pull request's branch is: ${GITHUB_REF##*/}"
          echo "Pull request's head ref is: ${GITHUB_HEAD_REF}"
        env:
          BASE_BRANCH: ${{ github.base_ref }}
        if: github.event_name == 'pull_request'

      - name: Checkout tdengine
        uses: actions/checkout@v2
        with:
          submodules: recursive
          repository: 'taosdata/TDengine'
          path: 'TDengine'
          ref: 'develop'

      - name: Change time zone
        run: |
          sudo timedatectl set-timezone Asia/Shanghai
          sudo date

          #      - name: Checkout TDengine with same branch of taos-tools
          #run: |
          #cd TDengine
          #git pull
          #git branch -a | grep -w ${{ github.head_ref }} \
          #  && git checkout ${{ github.head_ref }} \
          #  && git submodule update --init --recursive \
          #  || echo "${{ github.head_ref }} not found in TDengine"

          #if: github.event_name == 'pull_request'

      - name: Install packages
        run: sudo apt-get install lzma-dev liblzma-dev libjansson-dev libz-dev libsnappy-dev pkg-config lcov -y > /dev/null

      - name: Checkout TDengine's taos-tools to develop latest
        run: |
          cd TDengine/src/kit/taos-tools
          git checkout develop
          git pull

      - name: Checkout TDengine's taos-tools to PR number
        if: github.event_name == 'pull_request'
        run: |
          cd TDengine/src/kit/taos-tools
          git fetch origin +refs/pull/${{env.PR_NUMBER}}/merge
          git checkout -qf FETCH_HEAD
          git submodule update --init --recursive

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.14

      - name: Build & Install TDengine
        run: |
          cd TDengine
          mkdir debug
          cd debug
          cmake .. -DBUILD_JDBC=false -DBUILD_HTTP=false -DBUILD_TOOLS=true -DCOVER=true -DTOOLS_BUILD_TYPE=Debug -DTOOLS_SANITIZE=true > /dev/null 2>&1
          make > /dev/null 2>&1
          sudo make install > /dev/null

      - name: Test
        run: |
          cd TDengine/debug
          echo "TEST: taosBenchmark --help"
          ./build/bin/taosBenchmark --help > /dev/null
          echo "TEST: taodump --help"
          ./build/bin/taosdump --help > /dev/null
          echo "TEST: taodump --version"
          ./build/bin/taosdump --version > /dev/null
          echo "TEST: taodump --port 100000"
          ./build/bin/taosdump --port 100000 > /dev/null 2>&1 || :
          echo "TEST: taodump -D"
          ./build/bin/taosdump -D > /dev/null 2>&1 || :
          echo "TEST: taodump --databases -h localhost -u root"
          ./build/bin/taosdump --databases -h localhost -u root > /dev/null 2>&1 || :

          nohup sudo taosd > /dev/null &
          sleep 10

          # test codec
          echo "TEST: simple and log database"
          ./build/bin/taosBenchmark -t 1 -n 1 -y
          ./build/bin/taosdump -D test -a
          rm -f *.sql *.avro*

          echo "TEST: complex columns"
          ./build/bin/taosBenchmark -t 2 -n 10 -b bool,tinyint,smallint,int,bigint,utinyint,usmallint,uint,ubigint,binary,nchar,timestamp -A bool,tinyint,smallint,int,bigint,utinyint,usmallint,uint,ubigint,binary,nchar,timestamp -y > /dev/null

          echo "TEST: whole db with null codec"
          ./build/bin/taosdump -D test -d null -gg > /dev/null
          ./build/bin/taos -s "drop database test"
          ./build/bin/taosdump -i . -d null -gg > /dev/null
          rm -f *.sql *.avro*

          echo "TEST: whole db with snappy codec"
          ./build/bin/taosdump -D test -d snappy -gg > /dev/null
          ./build/bin/taos -s "drop database test"
          ./build/bin/taosdump -i . -d snappy -gg > /dev/null
          rm -f *.sql *.avro*

          echo "TEST: whole db with deflate codec"
          ./build/bin/taosdump -D test -d deflate -gg > /dev/null
          ./build/bin/taos -s "drop database test"
          ./build/bin/taosdump -i . -d deflate -gg > /dev/null
          rm -f *.sql *.avro*

          echo "TEST: whole db with lzma codec"
          ./build/bin/taosdump -D test -d lzma -gg > /dev/null
          ./build/bin/taos -s "drop database test"
          ./build/bin/taosdump -i . -d lzma -gg > /dev/null
          rm -f *.sql *.avro*

          echo "TEST: epoch time"
          ./build/bin/taosdump -D test -S 1500000000000 -E 1500000000004 -gg > /dev/null
          rm -f *.sql *.avro*

          echo "TEST: human time"
          ./build/bin/taosdump -D test -S '2017-07-14 10:40:00.000' -E '2017-07-14 10:40:00.004' -gg > /dev/null
          rm -f *.sql *.avro*

          echo "TEST: normal table"
          ./build/bin/taosBenchmark -N -t 2 -n 10 -y > /dev/null
          ./build/bin/taosdump -D test -gg > /dev/null
          ./build/bin/taos -s "drop database test"
          ./build/bin/taosdump -i . -gg > /dev/null
          rm -f *.sql *.avro*

          echo "TEST: whole db with unknown codec"
          ./build/bin/taosBenchmark -t 2 -n 2 -y > /dev/null
          ./build/bin/taosdump -D test -d unknown -gg > /dev/null
          ./build/bin/taos -s "drop database test"
          ./build/bin/taosdump -i . -d unknown -gg > /dev/null
          rm -f *.sql *.avro*

          echo "TEST: singla normal table"
          ./build/bin/taosBenchmark -t 2 -n 2 -y > /dev/null
          ./build/bin/taosdump test d0 > /dev/null
          ./build/bin/taos -s "drop database test"
          ./build/bin/taosdump -i . -gg > /dev/null
          taos -s "select count(tbname) from test.meters" | grep "1 row" || exit 1
          rm -f *.sql *.avro*

          echo "TEST: -n escape_char"
          ./build/bin/taosdump -n -D test > /dev/null
          ./build/bin/taos -s "drop database test"
          ./build/bin/taosdump -i . -n -gg > /dev/null
          rm -f *.sql *.avro*

          echo "TEST: -L loose_mode"
          ./build/bin/taosdump -L -D test > /dev/null
          ./build/bin/taos -s "drop database test"
          ./build/bin/taosdump -i . -L -gg > /dev/null
          rm -f *.sql *.avro*

          echo "TEST: singal normal table with unknown codec"
          ./build/bin/taosdump test d0 -d unknown -gg > /dev/null
          ./build/bin/taos -s "drop database test"
          ./build/bin/taosdump -i . -d unknown -gg > /dev/null
          rm -f *.sql *.avro*

          echo "TEST: complex with larger binary"
          ./build/bin/taosBenchmark -t 2 -n 10 -w 40 -b bool,tinyint,smallint,int,bigint,utinyint,usmallint,uint,ubigint,binary,nchar,timestamp -A bool,tinyint,smallint,int,bigint,utinyint,usmallint,uint,ubigint,binary,nchar,timestamp -y > /dev/null
          ./build/bin/taosdump -D test -gg > /dev/null
          ./build/bin/taos -s "drop database test"
          ./build/bin/taosdump -i . -gg > /dev/null
          rm -f *.sql *.avro*

          echo "TEST: unknown codec"
          ./build/bin/taosdump -D test -d unknown -gg > /dev/null
          ./build/bin/taos -s "drop database test"
          ./build/bin/taosdump -i . -d unknown -gg > /dev/null
          rm -f *.sql *.avro*

          echo "TEST: dump old format data in"
          ./build/bin/taos -s "drop database test"
          tar xvJf ../src/kit/taos-tools/example-data/example-data.tar.xz -C .
          ./build/bin/taosdump -i dump -gg
          rm -f *.sql *.avro*

          cd ../tests/pytest
          pip3 install taospy numpy fabric2 psutil pandas faker > /dev/null
          sudo pkill -9 taosadapter || :
          sudo pkill -9 taosd || :

          echo "TEST: old cases"
          python3 ./test.py -f tools/taosdumpTest.py > /dev/null
          python3 ./test.py -f tools/taosdumpTest2.py > /dev/null
          python3 ./test.py -f tools/taosdumpTest3.py > /dev/null
          python3 ./test.py -f tools/taosdumpTestNanoSupport.py > /dev/null
          python3 test.py -f query/nestedQuery/nestedQuery.py > /dev/null
          python3 test.py -f tools/taosdemoAllTest/TD-5213/insertSigcolumnsNum4096.py > /dev/null

          echo "TEST: develop test cases"
          cd ../develop-test
          if find 5-taos-tools/taosdump -name "*.py"|grep -q .;
          then
            for i in `find 5-taos-tools/taosdump -name "*.py"`; do python3 ./test.py -f $i > /dev/null 2>&1 && echo -e "\033[32m $i success! \033[0m"|| echo -e "\033[31m $i failed! \033[0m" ;done
          fi

          echo "TEST: system test cases"
          cd ../system-test
          if find 5-taos-tools/taosdump -name "*.py"|grep -q .;
          then
            for i in `find 5-taos-tools/taosdump -name "*.py"`; do python3 ./test.py -f $i > /dev/null 2>&1 && echo -e "\033[32m $i success! \033[0m"|| echo -e "\033[31m $i failed! \033[0m" ;done
          fi

          python3 test.py -f 5-taos-tools/TD-12478.py > /dev/null 2>&1 && echo -e "\033[32m  system-test/5-taos-tools/TD-12478.py success! \033[0m"|| echo -e "\033[31m system-test/5-taos-tools/TD-12478.py failed! \033[0m"

          echo "TEST: taosdemo develop test cases"
          cd ../develop-test
          if find 5-taos-tools/taosbenchmark -name "*.py"|grep -q .;
          then
            for i in `find 5-taos-tools/taosbenchmark -name "*.py"`; do python3 ./test.py -f $i > /dev/null 2>&1 && echo -e "\033[32m $i success! \033[0m"|| echo -e "\033[31m $i failed! \033[0m" ;done
          fi

          echo "TEST: taosdemo system test cases"
          cd ../system-test
          if find 5-taos-tools/taosbenchmark -name "*.py"|grep -q .;
          then
            for i in `find 5-taos-tools/taosbenchmark -name "*.py"`; do python3 ./test.py -f $i > /dev/null 2>&1 && echo -e "\033[32m $i success! \033[0m"|| echo -e "\033[31m $i failed! \033[0m" ;done
          fi

      - name: Generate report
        run: |
          topdir=`pwd`
          cd TDengine/debug/src/kit/taos-tools
          gcov -abcfu ${topdir}/TDengine/src/kit/taos-tools/src/taosdump.c -o src/CMakeFiles/taosdump.dir/taosdump.c.gcno
          gcov -abcfu ${topdir}/TDengine/src/kit/taos-tools/src/benchMain.c -o src/CMakeFiles/taosBenchmark.dir/benchMain.c.gcno
          gcov -abcfu ${topdir}/TDengine/src/kit/taos-tools/src/benchCommandOpt.c -o src/CMakeFiles/taosBenchmark.dir/benchCommandOpt.c.gcno
          gcov -abcfu ${topdir}/TDengine/src/kit/taos-tools/src/benchData.c -o src/CMakeFiles/taosBenchmark.dir/benchData.c.gcno
          gcov -abcfu ${topdir}/TDengine/src/kit/taos-tools/src/benchInsert.c -o src/CMakeFiles/taosBenchmark.dir/benchInsert.c.gcno
          gcov -abcfu ${topdir}/TDengine/src/kit/taos-tools/src/benchJsonOpt.c -o src/CMakeFiles/taosBenchmark.dir/benchJsonOpt.c.gcno
          gcov -abcfu ${topdir}/TDengine/src/kit/taos-tools/src/benchOutput.c -o src/CMakeFiles/taosBenchmark.dir/benchOutput.c.gcno
          gcov -abcfu ${topdir}/TDengine/src/kit/taos-tools/src/benchQuery.c -o src/CMakeFiles/taosBenchmark.dir/benchQuery.c.gcno
          gcov -abcfu ${topdir}/TDengine/src/kit/taos-tools/src/benchSubscribe.c -o src/CMakeFiles/taosBenchmark.dir/benchSubscribe.c.gcno
          gcov -abcfu ${topdir}/TDengine/src/kit/taos-tools/src/benchUtil.c -o src/CMakeFiles/taosBenchmark.dir/benchUtil.c.gcno
          mkdir ${topdir}/coverage || :
          lcov -c -d . -o ${topdir}/coverage/lcov-with-deps.info
          lcov -r ${topdir}/coverage/lcov-with-deps.info "*/deps/*" -o ${topdir}/coverage/lcov.info

      - name: Publish to coveralls.io
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

